body{
    margin: 0;
  height: 1000px;
}
header{
     display: flex;
   margin-top: 6px;
   align-items: center;
   justify-content: space-between;
   position: fixed;

}
.icon-img{
    
    height: 24px;
    margin-left: 20px;
    margin-right: 24px;
}
.left-section{


display: flex;

align-items: center;

}
.middle-section{
  flex: 1;
  display: flex;
  align-items: center;
  
  margin-left: 210px;
  margin-right: 14px;
  
}
.youtube-logo-img{
  width: 85px;
    height: 50px;
    margin-right: 50px;
    margin-left: 28px;
}
.search-bar{
width: 550px;
height: 40px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
margin-right: 1px;
}
.search-bar::placeholder{
font-size: 15px;
padding-left: 10px;
}
.search-icon{
    width: 34px;
    height: 30px;
}
.voice-search-icon{
    width: 35px;
  border-radius: 17px;
}

.voice-search-btn{
    width: 70px;
    margin-right: 1px;
    margin-left:  5px;
    border: none;
 border-radius: 25px;
 background: none;
}
.search-btn{
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
height: 40px;
 margin-left: -2px;
border-color: rgb(129, 132, 132);
}
.voice-search-btn :hover{
  background-color: rgb(171, 176, 176);
}
.profile-img{
  width: 24px;
  border-radius: 12px;
}
.right-section{
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: 20px;
}
.upload-icon{
  width: 24px;
}
.youtube-apps-icon{
  width: 24px;
}
.notifications-icon{
  width: 24px;
}