body{
    margin: 0;
    
}
header{
     display: flex;
   
   align-items: center;
   justify-content: space-between;

}
.icon-img{
    
    height: 24px;
    margin-left: 20px;
    margin-right: 24px;
}
.left-section{


display: flex;

align-items: center;

}
.middle-section{
  flex: 1;
  display: flex;
  align-items: center;
  
  margin-left: 210px;
  margin-right: 14px;
  
}
.right-section{
    background-color: blue;
    width: 200px;
    display: flex;
    height: 50px;
}
.youtube-logo-img{
  width: 85px;
    height: 50px;
    margin-right: 50px;
    margin-left: 28px;
}
.search-bar{
 
    width: 550px;
  height: 34px;
    margin-left: 10px;
   border-left: 60px;

}
.search-bar::placeholder{
font-size: 15px;
padding-left: 10px;
}
.search-icon{
    width: 30px;
    height: 28px;
}
.voice-search-icon{
    width: 40px;
    height: 40px;
}
.voice-search-btn{
width: 60px;
margin-right: -1px;
border: none;
}
.voice-search-btn{
    width: 60px;
    margin-right: -1px;
    margin-left: -1px;
    border: none;

}