body{
    margin: 0;
    
}
header{
     display: flex;
    border: 1px solid black;
   align-items: center;
   justify-content: space-between;

}
.icon-img{
    width: 30px;
    height: 40px;
    margin-left: 20px;
}
.left-section{
    background-color: aqua;
width: 150px;
display: flex;
justify-content: space-between;
align-items: center;

}
.middle-section{
    background-color: black;
    flex: 1;
  display: flex;
  justify-content: center;
}
.right-section{
    background-color: blue;
    width: 200px;
    display: flex;
    height: 50px;
}
.youtube-logo-img{
  width: 70px;
    height: 50px;
}
.search-bar{
    width: 550px;
    height: 40px;
}
.search-icon{
    width: 40px;
    height: 30px;
}
.voice-search-icon{
    width: 40px;
    height: 30px;
}